@import './utils/variables';
@import './base/common';
@import './base/section';
@import './base/container';
@import './utils/visually-hidden';
@import './components/section-title';
@import './components/social-title';
@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/work-section';
@import './layout/team-section';
@import './layout/clients-section';
@import './layout/footer';
@import './layout/portfolio-section';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './components/mobile';
