/* portfolio */
.portfolio img {
  width: 100%;
  height: auto;
}
.filters {
  display: flex;
  margin-right: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1209px) {
    margin-bottom: 50px;
  }
}
.filters__item {
  margin-left: 8px;
  margin-top: 15px;
}
.filters__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.projects__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    background: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    background: #ffffff;
  }
}
.projects__item:not(:last-child) {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16),
      0px 4px 4px rgba(0, 0, 0, 0.06);
  }
}

.projects-image-wrapper {
  position: relative;
  overflow: hidden;
}
.image-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  color: var(--primary-background-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0%);
  }
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.projects__desc {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
.projects__desc-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
