/* work */
.work {
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: var(--primary-background-color);
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.work__img-wrapper {
  position: relative;
}
.work__overlay {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
